.primary {
  background-color: #297450; /* Change this to your desired color */
}
.navbar-nav .nav-link {
  color: white !important; /* Setting text color to white */
  margin-bottom: 0px;
  font-family: 'Lexend Tera';
}
.logins .btn{
    color: white !important; /* Setting text color to white */
    font-family: 'Lexend Tera';
    margin-right: 1rem;
  }
.secondary{
    background-color: #41BD81;
}

.navigator{
    text-align: center;

}