<nav class="navbar navbar-expand-lg primary" style="height: 5rem">
  <div class="container-fluid">
    <a href="#" class="navbar-brand" style="margin-left: 5%">
      <img src="assets/logo.png" height="28" alt="CoolBrand" />
    </a>
    <h3 style="color: white; margin-bottom: 0px; font-family: 'Lexend Tera'">
      MMS
    </h3>
    <button
      type="button"
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarCollapse"
    >
      <div class="navbar-nav">
        <div
          class="d-flex justify-content-evenly navigator"
          style="margin-left: 70%"
        >
          <a href="#" class="nav-item nav-link active" style="margin-left: 2rem"
            >Home</a
          >
          <a href="#" class="nav-item nav-link" style="margin-left: 2rem"
            >Profile</a
          >
          <a href="#" class="nav-item nav-link" style="margin-left: 2rem"
            >Messages</a
          >
          <a
            href="#"
            class="nav-item nav-link disabled"
            tabindex="-1"
            style="margin-left: 2rem"
            >Reports</a
          >
        </div>
      </div>
      <div class="navbar-nav ms-auto" style="margin-right: 5%">
        <div class="logins">
          <button type="button" class="btn">Sign Up</button>
          <button type="button" class="btn btn-success secondary">Login</button>
        </div>
        <!-- <a href="#" class="nav-item nav-link">Login</a> -->
      </div>
    </div>
  </div>
</nav>
