<div style="display: flex; flex-direction: row; height: 52rem">
  <div
    style="
      width: 50%;
      align-content: center;
      justify-content: center;
      text-align: start;
      padding: 5rem;
      color: #0b3e25;
      font-family: 'Mulish';
    "
  >
    <div style="margin-top: 5rem">
      <h1 style="font-size: 2.7rem">
        Providing Quality <span style="color: #297450">Healthcare</span> For A
        <span style="color: #6eab36">Brighter</span> And
        <span style="color: #6eab36">Healthy</span> Future
      </h1>

      <h3 style="color: #363434af; margin-top: 3rem; font-family: 'Mulish'">
        At our hospital, we are dedicated to providing exceptional medical care
        to our patients and their families. Our experienced team of medical
        professionals, cutting-edge technology, and compassionate approach make
        us a leader in the healthcare industry
      </h3>
      <button
        type="button"
        class="btn btn-success secondary"
        style="width: 20rem; height: 3rem; margin-top: 2rem"
      >
        BOOK APPOINTMENT
      </button>
    </div>
  </div>

  <div style="padding: 5rem; width: 50%">
    <img src="/assets/doctor.png" alt="Doctor Image" class="responsive-image" />
  </div>
</div>

<div
  style="
    background-color: #3eb47b3c;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 5rem;
    font-family: 'Mulish';
  "
>
  <div style="width: 50%; margin: auto">
    <h1 style="color: #0b3e25; font-size: 3rem; font-weight: bolder">
      Find The Perfect Doctor For You
    </h1>
    <h1 style="color: #0b3e25; font-size: 3rem; font-weight: bolder">
      With Ease
    </h1>
    <h3 style="color: #363434af; margin-top: 3rem; font-family: 'Mulish'">
      Our medical management system makes it incredibly simple to search for and
      book appointments with doctors of your choice. With just a few clicks, you
      can find the right doctor who meets your specific needs and preferences.
    </h3>

    <div
      class="form-outline"
      data-mdb-input-init
      style="margin-top: 2rem; display: flex; flex-direction: row; "
    >
      <input
        type="search"
        id="form1"
        class="form-control"
        placeholder="Search by doctors, specialization....."
        aria-label="Search"
        style="
          height: 3.5rem;
          border-radius: 0.5rem;
          border: 2px solid #297450;
          width: 35rem;
          margin-right: 1rem;
        "
      />
      <button
        type="button"
        class="btn btn-success"
        style="width: 15rem; height: 3.5rem; background-color: #297450"
      >
        <h4>Search</h4>
      </button>
    </div>
  </div>
</div>
