<div
  style="
    background-color: #0b3e25;
    display: flex;
    flex-direction: row;
    height: 15rem;
    align-items: center;
    padding: 2rem;
    padding-bottom: 0;
  "
>
  <div style="width: 30%; justify-content: start">
    <img src="assets/logo.png" height="50" alt="CoolBrand" />
  </div>
  <div
    style="
      display: flex;
      flex-direction: row;
      color: white;
      margin-bottom: 0px;
      font-family: 'Lexend Tera';
      justify-content: center;
      align-items: center;
      width: 40%;
      font-size: 1.5rem;
    "
  >
    <a href="#" class="nav-item nav-link active" style="margin-left: 2rem"
      >About</a
    >
    <a href="#" class="nav-item nav-link" style="margin-left: 2rem">Contact</a>
    <a href="#" class="nav-item nav-link" style="margin-left: 2rem">FAQs</a>
  </div>
  <div style="width: 30%">
    <i class="bi bi-instagram"></i><i class="bi bi-youtube"></i>
  </div>
</div>

<div
  style="
    position: relative;
    background-color: #0b3e25;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <hr
    style="
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      height: 2px;
      background-color: white;
      border: none;
      margin: 0;
    "
  />
</div>
<div style="background-color: #0b3e25;font-family: 'Lexend Tera';
justify-content: center; text-align: center; color: white; padding: 2rem">
  Copyright © 2024 MMS | All Rights Reserved
</div>
