<div class="header">
  <div class="logo-container">
    <img src="assets/logo.png" height="50" alt="CoolBrand" />
  </div>
  <div class="nav-links-container">
    <a href="#" class="nav-item nav-link active">About</a>
    <a href="#" class="nav-item nav-link">Contact</a>
    <a href="#" class="nav-item nav-link">FAQs</a>
  </div>
  <div class="social-icons-container">
    <i class="bi bi-instagram"></i><i class="bi bi-youtube"></i>
  </div>
</div>

<div class="divider-container">
  <hr class="divider-line">
</div>

<div class="footer">
  Copyright © 2024 MMS | All Rights Reserved
</div>
